@font-face {
	font-family: 'Torus';
	font-weight: 'lighter';
	src: url('TorusLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Torus';
	font-weight: 'bold';
	src: url('TorusSemiBold.otf') format('opentype');
}

@font-face {
	font-family: 'Torus';
	font-weight: 'normal';
	src: url('TorusRegular.otf') format('opentype');
}

.Categories {
	display: flex;
	width: auto;
	height: 40px;
}

.Category-Selector {
	width: auto;
	display: block;
	height: 2px;
	border-radius: 2px;
	margin-top: 5px;
	transition: 0.15s;
}

.Category-Selector[data-selected="true"] {
	background-color: hsl(255, 50%, 50%);
}

.Category-Selector[data-selected="false"] {
	background-color: transparent;
}

.Category-Button {
	margin-left: 10px;
	margin-right: 10px;
	font-weight: lighter;
	user-select: none;
	cursor: pointer;
}

.Category-Button:hover .Category-Selector[data-selected="false"] {
	transition: 0.15s;
	background-color: hsla(255, 50%, 50%, 50%);
}

.Main-Category {
	display: none;
}

.Packs-Category {
	display: none;
}

.Packs {
	background-color: hsl(255, 10%, 23%);
	line-height: 1.25;
	font-size: 16px;
	color: white;
	border-radius: 5px;
	user-select: none;
	height: 390px;
	display: flex;
	flex-direction: column;
}

.Pack {
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
	width: auto;
	height: 37.7px;
	display: flex;
	border-radius: 5px;
	text-decoration: none;
	font-size: 15px;
	transform: translateZ(0);
	background-color: hsl(255, 10%, 26%);
	transition: 0.15s;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
}

.Pack-Meta {
	height: auto;
	vertical-align: middle;
	margin-right: 15px;
}

.Pack-Name {
	height: auto;
	vertical-align: middle;
	margin-left: 15px;
}

.Pack:hover {
	transition: 0.15s;
	background-color: hsl(255, 10%, 29%);
}

.Parent {
	margin: -5px;
	display: block;
}

.RequireLoginError {
	position: absolute;
	text-align: center;
	font-weight: bold;
	left: 0;
	right: 0;
	top: 180px;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	color: white;
}

.RequireLoginError_GoToSite {
	position: relative;
	width: 105px;
	display: block;
	height: 25px;
	color: white;
	margin-left: 97.5px;
	margin-top: 15px;
	text-align: center;
	border-radius: 2.5px;
	font-family: Torus;
	font-weight: normal;
	background-color: hsl(200, 50%, 45%);
	border: 0;
	cursor: pointer;
	transition: 0.15s;
}

.RequireLoginError_GoToSite:Hover {
	transition: 0.15s;
	background-color: hsl(200, 100%, 70%);
}

.TopMapsPanel {
	background-color: hsl(255, 10%, 23%);
	line-height: 1.25;
	font-size: 16px;
	color: white;
	border-radius: 5px;
	margin-left: 5px;
}

.NewMapsPanel {
	background-color: hsl(255, 10%, 23%);
	line-height: 1.25;
	font-size: 16px;
	color: white;
	border-radius: 5px;
}

.Beatmap {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 5px;
	margin-right: 5px;
	width: 295px;
	display: flex;
	border-radius: 5px;
	text-decoration: none;
	transform: translateZ(0);
	background-color: hsl(255, 10%, 26%);
	transition: 0.15s;
}

.Beatmap:has(.Beatmap_meta:hover) {
	transition: 0.15s;
	background-color: hsl(255, 10%, 29%);
}

.Beatmap_img {
	width: 70px;
	height: 60px;
	border-radius: 5px;
	position: relative;
	background-color: rgb(255, 255, 255, 0.1);
	background-size: cover;
}

.Beatmap_download {
	text-align: center;
	width: 20px;
	display: block;
	height: 20px;
	margin: 2.5px;
	border-radius: 2.5px;
	background-color: hsl(200, 50%, 45%);
	border: 0;
	cursor: pointer;
	transition: 0.15s;
}

.Beatmap_download:hover {
	transition: 0.15s;
	background-color: hsl(200, 100%, 70%);
}

.Beatmap_download_icon {
	content: url("download.webp");
	width: 10px;
	height: 10px;
}

.Beatmap_mode {
	position: absolute;
	color: white;
	bottom: 0;
	right: 0;
	font-size: 10px;
	margin: 2.5px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	user-select: none;
}

.Beatmap_meta {
	margin-left: 5px;
	color: white;
	display: flex;
	flex: 1;
	flex-direction: column;
	font-weight: 400;
	min-width: 0;
	padding: 0px 5px;
	text-decoration: none;
}

.Beatmap_artist {
	margin-top: -2px;
	font-size: 12px;
	flex: 1;
	white-space: nowrap !important;
	text-overflow: ellipsis !important;
	overflow: hidden !important;
	user-select: none;
}

.Beatmap_creator {
	font-size: 11px;
	margin-top: 2px;
	flex: 1;
	user-select: none;
}

.Beatmap_title {
	white-space: nowrap !important;
	text-overflow: ellipsis !important;
	overflow: hidden !important;
	font-weight: bold;
	user-select: none;
}